{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}List Schedule{% endblock %}</h1>
{% endblock %}

{% block content %}
        <h3> Available: </h3>
        {% for list_day in list_result: %}
            {% for item in list_day: %}
                {% if item == "Monday" or item == "Tuesday" or item == "Wednesday" or item == "Thursday" or item == "Friday" or item == "Saturday" or item == "Sunday": %}
                    <b>{{ item }}</b>
                {% elif "Shift" in item: %}
                    <br> &nbsp&nbsp&nbsp{{ item }} <br>
                {% elif "Nurse" in item: %}
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    {{ item }} ||
                {% else: %}
                    {{ item }}
                {% endif %}

            {% endfor %}
            <br><br>
        {% endfor %}
    <br>
    <a href="{{url_for('blog.index')}}">Back to Index</a>
{% endblock %}